# source: https://github.com/sphinx-notes/pages
name: Deploy Sphinx documentation to Pages

on:
  push:
    branches: [master] # branch to trigger deployment

jobs:
  pages:
    runs-on: ubuntu-22.04
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
    - id: pandoc-install
      run: |
        sudo apt install -y pandoc

    - id: deployment
      uses: sphinx-notes/pages@v3
      with:
        documentation_path: ./docs/source/
        requirements_path: ./docs/source/requirements.txt
